@inherits LayoutComponentBase

<PageTitle>GzAmnform</PageTitle>

<div class="page">
   <!-- remove the slider
       <div class="sidebar">
        <NavMenu />
    </div>
     -->
    <main>
        <div class="d-flex justify-content-between align-items-center px-4 py-2 border-bottom">
            <!-- Right: Arabic title -->
            <div class="text-center" style="font-family: 'Cairo'; font-weight: bold;font-size:16px;">
               <div>
                   مكتب رئيس مجلس الوزراء
               </div>
               <div>
                   هويات المنطقة الخضراء
               </div>
            </div>

            <!-- Center: Logo -->
            <div class="text-center">
                <img src="logo150.png" alt="Logo" style="height: 100px;" />
            </div>

            <!-- Left: English link -->
            <div class="text-center" style="font-family: 'Cairo'; font-weight: bold;font-size:16px;">
                <div>
                    Prime Minister`s Office
                 </div>
                <div>
                    GreenZone Badging Office
                </div>
            </div>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />